body{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
}
@media(max-width:768px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
/* aside */
aside {
    background: rgb(16, 107, 39);
    width: 470px;
    padding: 16px;
    justify-content: flex-start;
}

.image{
    width: 200px;
    height: auto;
    padding: 10px;
}

aside section{
    margin-bottom: 36px;
}

aside hr {
    height: 6px;
    margin-left: 0%;
    background: rgb(22, 22, 54);
    width: 100px;
}
aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* main */
main {
    background-color: white;
    justify-content: flex-end;
    margin-left: 15px;
}

h1 {
    color: rgb(16, 107, 39);
    border-bottom: rgb(16, 107, 39) solid 10px;
    margin: 5px;
    padding-bottom: 20px;
    font-size: 40px;
}

#experiencia {
    color: rgb(22, 22, 54)
}

hr {
    height: 6px;
    width: 230px;
    margin-left: 0%;
    background: rgb(16, 107, 39);
    border-bottom: solid;
}

main h2 {
    color: rgb(16, 107, 39);
}

main h3 {
    color: rgb(22, 22, 54)
}

main li {
    margin: 0;
    padding: 0;
    list-style: none;
}
@media(max-width:414px){
    main{
        display: none;
    }
}

/* footer */
footer{
    justify-content: flex-start;
}

footer ul{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    list-style: none;
}
ul a{
    background-color: white;
  transition: background-color .5s;
}

a:hover{
    background-color: blue;
}

@media(max-width:768px){
    footer{
        background: rgb(16, 107, 39);
    }
}